body{
    margin: 0;
    padding: 0;
    background: url(images/bg-image.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat:no-repeat;

}
.hr-ctt-scc{
    display: flex;
    flex-wrap: wrap;
    padding: .1rem 2rem .1rem 1rem;
    justify-content: center;
    align-items:center;
    background: rgb(5 21 83);
}
.logo-hld-scc{
    background: url(images/Fav-icon-new.png);
    height: 60px;
    width: 60px;
    border-radius:30%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.ctt-scc-dtl{
    color: #fff;
    left: 50px;
    position: relative;
    font-family: 'DM Serif Display', serif;
}
.ctt-scc-dtl p{
    text-align: right;
    margin-top: -10px;
    font-size: 15pt ;
    letter-spacing: 2px;
    font-family: 'DM Serif Display', serif;
}
.scc-dtl-ctt{
    display: flex;
    align-items: center;
    justify-content: center;

}
.scc-dtl-ctt h3{
    font-size: 2rem;
    color: #000;
    font-family: 'DM Serif Display', serif;
    position: relative;
    text-align: center;
}
h3::after{
    content:" ";
    width: 64%;
    display: block;
    height: .2rem;
    background-color: #000;
    position: absolute;
    left: 16%;
    border-radius: 50px;
}
.ctt-frm-scc{
    display: flex;
    flex-wrap: wrap;
    top: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.frm-scc-ctt{
    background: rgba(0, 0, 0, .5);
    padding: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: 3px 3px 9px #000;
    justify-content: center;
    align-items: center;
}
.ctt-inp-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ctt-inp-one input{
    margin-bottom:.5rem;
    margin-right: .5rem;    
}
.ctt-inp-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ctt-inp-two input{
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem ;
    margin-right: .5rem;
}
input{
    padding: .6rem;
    outline: none;
    border: none;
    width: 200px;
    box-shadow: 3px 3px 3px black;
    font-size:1rem;
    color: #fff;
    background: rgba(255, 255, 255, .2);
}
input:focus{
    color: #fff;
    font-family: 'Jost', sans-serif;
}
::placeholder{
    color: #fff;
    font-family: 'Jost', sans-serif;
}

.frm-scc-ctt button{
    margin-top: .5rem;
    padding: .5rem  2rem .5rem 2rem;
    outline: none;
    border: none;
    color: #fff;
    float: right;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    border: 1px solid #fff;
    transition: 0.2s;
    background: rgba(0, 0, 0, .6);
}
button:hover{
    background: transparent;
    box-shadow: 3px 3px 1px #fff;
    border: 1px solid #fff;
}
.ftr-scc-ctt{
    top: 39.8%;
    position: relative;
    background: rgb(5 21 83);
}
.mild-ctt-scc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}
.mild-fst-row{
    color: #fff;
    font-size: 1.1rem;
    padding: .9rem;
    font-family: 'Jost', sans-serif;
    position: relative;
    text-align: center;    
}
.mild-fst-row h2{
    position: relative;
}
.mild-fst-row h2::after{
    content:" ";
    width: 30%;
    display: block;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    left: 36%;
    border-radius: 50px;
}
.mild-fst-row a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 10px;
}
.mild-scd-row{
    color: #fff;
    padding:.9rem;
    text-align: center;
    font-family: 'Jost', sans-serif; 
}
.mild-scd-row h2{
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    font-size: 1.5rem;
    position: relative;
}
.mild-scd-row h2::after{
    content:" ";
    width: 64%;
    display: block;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    left: 16%;
    border-radius: 50px;
}
.icon{
    text-decoration: none;
    color: #fff;
    margin-right: .9rem;
    transition: .4s ease;
}
.icon:hover{
    color: #fcd56b;
}
.rvr-scc-ctt{
    color: #fff;
    display: flex;
    padding: .1rem 1rem .1rem 1rem;
    font-family: 'Jost', sans-serif;
    background: rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex-wrap: wrap;   
}
.rvr-scc-ctt .cmp-nme-ttl{
    margin-left: 1rem; 
}
.cmp-nme-ttl span{
    font-family: 'Arvo', serif;
    
}
@media only screen and (max-width: 600px){

    .ctt-scc-dtl{
        opacity: 1;
        color: #fff;
        left: 30px;
        font-family: 'DM Serif Display', serif;
    }
    .logo-hld-scc{
        background: url(images/Fav-icon-new.png);
        height: 55px;
        width: 55px;
        border-radius:30%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    .ftr-scc-ctt{
        top:50%;
        position: relative;
        background: rgb(5 21 83);
    }
    .frm-scc-ctt{
        width: min-content;
        margin-bottom: 35px;
    }
}
@media only screen and (max-width: 500px){

    .ctt-scc-dtl{
        opacity: 1;
        color: #fff;
        left: 30px;
        font-family: 'DM Serif Display', serif;
    }
    .logo-hld-scc{
        background: url(images/Fav-icon-new.png);
        height: 40px;
        width: 37px;
        border-radius:30%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    .ftr-scc-ctt{
        top:11%;
        position: relative;
        background: rgb(5 21 83);
    }
    .frm-scc-ctt{
        width: min-content;
        margin-bottom: 35px;
    }

}
@media only screen and (max-width: 414px){
    .ctt-scc-dtl{
        opacity: 1;
        left: 22px;
        color: #fff;
        font-size: .6rem;
        font-family: 'DM Serif Display', serif;
    }
    .mild-ctt-scc{
        justify-content: center;
    }
    .mild-scd-row h2{
        margin-right: 32px;
    }
    .a-hld-scc{
        justify-content: center !important;
    }
    .scc-min-ctt h3{
        font-size: 1.5rem;
    }
    .frm-scc-ctt{
        width: min-content;
        margin-bottom: 35px;
    }
}
@media only screen and (max-width: 360px){
    .hr-ctt-scc{
        padding-right: 35px;
    }
    .logo-hld-scc{
    background: url(images/Fav-icon-new.png);
    height: 60px;
    width: 60px;
    border-radius:30%;
    position: relative;
    background-size: cover;
    background-position: center;
}
    .ctt-scc-dtl{
        opacity: 1;
        left: 30px;
        color: #fff;
        font-size: .5rem;
        font-family: 'DM Serif Display', serif;
    }
}
